<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bensdeals"
    android:versionCode="9"
    android:versionName="2.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gm.permission.AUTO_SEND" />

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="18" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:name=".activity.DealApplication"
        android:theme="@style/DealTheme">

        <activity
            android:name=".activity.DealPagerActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DealDetailActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden" />
    </application>
</manifest>
